.headerViewer-table {
    min-width: 300px;
    max-width: 100%;
}

.headerViewer-table thead {
    background: #607d8b;
    color: white;
}

.headerViewer-table tbody tr td {
    border-bottom: 1px solid #607d8b;

}
