<mat-toolbar color="primary">

    <button mat-button routerLink="">
        <span>{{title}}</span>
    </button>

    <button mat-button routerLink="proxyConfig" skipLocationChange="true">Config</button>


<!--    <mat-menu #moreVertMenu="matMenu">-->
<!--        <button mat-menu-item>Settings</button>-->
<!--        <button mat-menu-item>Help</button>-->
<!--    </mat-menu>-->

<!--    <button mat-button [matMenuTriggerFor]="moreVertMenu">-->
<!--        More vert-->
<!--    </button>-->

    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <div>
        <fa-icon [icon]="faUser" *ngIf="!admin"></fa-icon>
        <fa-icon [icon]="faUserCog" *ngIf="admin"></fa-icon>
        {{ login }}
        <button mat-flat-button color="primary" *ngIf="login" (click)="signout()">
            <fa-icon [icon]="faSignOutAlt" class=""></fa-icon>
            Logout
        </button>
    </div>
</mat-toolbar>
