{
    "certINACTIF": {
        "key": "../mJailCert/labcms.key",
        "cert": "../mJailCert/labcms.cert"
    },
    "cert": null,

    "httpPort": 8080,
    "authProvider__": "../external/DummyAuthProvider.js",
}
