<mat-card>
    <mat-card-content>
        <form (submit)="onSubmit()" [formGroup]="loginForm">

            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

            <div class="row">
                <label for="fldLogin">Login</label>
                <input type="text" id="fldLogin" placeholder="Login" formControlName="login" autocomplete="login">
            </div>
            <div class="row">
                <label for="fldPassword">Mot de passe</label>
                <input type="password" id="fldPassword" placeholder="Password"
                       formControlName="password" autocomplete="current-password">
            </div>

            <div class="row">
                <button mat-button id="btnLogin" type="submit" color="success">Connexion</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
