/* You can add global styles to this file, and also import other style files */

$green: #56B945;
$headerBackground: #020f02;


$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';

@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.urlBase {
    color: gray;
}
.urlPath {
    color: #0077EE;
}
.urlQuery {
    color: #EE00BB;
}
.urlColorPad {
    display: inline-block;
    border-radius: 5px;
    width: 12px;
    height: 12px;
    margin-right: 2px;
}


.httpErrorCode {
    background-color: #CCCCCC;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}

.httpErrorCode[class*="httpErrorCode_1"] {
    background-color: cyan;
}
.httpErrorCode[class*="httpErrorCode_2"] {
    background-color: #058B00;
}
.httpErrorCode[class*="httpErrorCode_3"] {
    background-color: orange;
}
.httpErrorCode[class*="httpErrorCode_4"] {
    background-color: #BB22EE;
}
.httpErrorCode[class*="httpErrorCode_5"] {
    background-color: #DD00AA;
}
.httpErrorCode[class*="httpErrorCode_6"] {
    background-color: #FF0000;
}
