<h1 mat-dialog-title>{{ formNewProxy.controls.id.value ? 'Update': 'Add' }} proxy</h1>

<div mat-dialog-content>

    <div *ngIf="error" class="alert alert-danger">
        {{ error }}
        <ul *ngIf="errors">
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>

    <form (submit)="onSubmitPopup()" [formGroup]="formNewProxy">
        <input formControlName="id" name="id" type="hidden">

        <div style="display: flex">
            <mat-form-field style="flex-grow: 1">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" name="name" type="text" required autocomplete="off">
                <mat-error *ngIf="submitted && formNewProxy.controls.name.errors && formNewProxy.controls.name.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>

            <mat-form-field style="width: 150px">
                <mat-label>Encoding</mat-label>
                <mat-select formControlName="encoding" name="encoding" type="text" required>
                    <mat-option *ngFor="let enc of availableEncodings" [value]="enc">{{enc}}</mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && formNewProxy.controls.encoding.errors && formNewProxy.controls.encoding.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" name="description" type="text" required autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.description.errors && formNewProxy.controls.description.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <mat-label>Slug</mat-label>
                <input matInput formControlName="slug" name="slug" type="text" required autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.slug.errors && formNewProxy.controls.slug.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <mat-label>Destination</mat-label>
                <input matInput formControlName="destination" name="destination" type="text" required autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.destination.errors && formNewProxy.controls.destination.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>
        <div style="display: flex">
            <mat-form-field style="width: 150px">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="owner" name="owner" type="text" required autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.owner.errors && formNewProxy.controls.owner.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>

            <mat-form-field style="flex-grow: 1">
                <mat-label>AllowedTo <span>(separate logins by semicolon, space will be ignored)</span></mat-label>
                <input matInput formControlName="allowedTo" name="allowedTo" type="text" autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.allowedTo.errors && formNewProxy.controls.allowedTo.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Retention (h)</mat-label>
                <input matInput formControlName="retention" name="retention" type="number" min="1" max="240" step="1" required
                       autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.retention.errors && formNewProxy.controls.retention.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Delay (ms)</mat-label>
                <input matInput formControlName="delay" name="delay" type="number" min="0" max="10000" step="50" required
                       autocomplete="off" />
                <mat-error *ngIf="submitted && formNewProxy.controls.delay.errors && formNewProxy.controls.delay.errors.required">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>


        <div style="text-align: right">
            <button mat-button type="submit" color="primary">
                {{ formNewProxy.controls.id.value ? 'Update': 'Add' }}
            </button>
        </div>

    </form>

</div>
